In [1]:
#원리금 합계 구하기 
a = 1000     # 원금
r = 0.05     # 이자율
n = 10       # 기간 
result = a * (1+r) **n  # 원리금 합계

print("원리금 합계 = ", result)

원리금 합계 =  1628.894626777442

In [5]:
# 소수점 자리 
price = 12345
tax = price * 0.075
tax = round(tax,2)
print(tax)

925.88

In [7]:
# 문자열 
msg = "hello"
print(msg)
msg = 'Hi'
print(msg)

hello
Hi

In [8]:
# 세 따옴표 문자열 = 여러줄 표시 가능 
a = """
안녕하세요 
지금 
파이썬을 
배우고 있습니다.
"""
print(a)

안녕하세요
지금
파이썬을
배우고 있습니다.

In [10]:
menu = """
1. 시작
2. 수정
3. 삭제
4. 종료 
==> 번호를 선택하세요 : 

"""
print(menu)

1. 시작
2. 수정
3. 삭제
4. 종료
==> 번호를 선택하세요 :

In [11]:
'Hello World!'

'Hello World!'

In [13]:
Lines = "-" * 30
print(Lines)

------------------------------

In [14]:
movie = "Terminator" + str(3) 
print(movie)

Terminator3

In [15]:
print("말 한마디로\n 천냥빛을\n갚는다.")

말 한마디로
 천냥빛을
갚는다.

In [21]:
# 문자열은 배열로 처리 - 한 칸이라도 들여쓰기하면 오류 발생
a = "Kim"
b = "Park"
c = "Lee"
First = a[0] + "과" + b[0] + "과" + c[0]
print(First)

K과P과L

In [23]:
# 파이썬은 모든 변수를 오브젝트로 선언한다

name = "Harry Potter"
lower_name = name.lower()
print(lower_name)
upper_name = name.upper()
print(upper_name)

harry potter
HARRY POTTER